.carousel-container {
    display: flex;
    width: calc(100% - 20px);
    padding: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.carousel-item {
    min-width: 400px;
    height: 80px; 
    margin: 0 5px;
    background-color: var(--color-primary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-contrast)
}