.exercises-container {
    -webkit-box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
    box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
    border-radius: 10px;
    padding: 40px 20px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
}

.exercises-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.exercises-search-input {
    width: 35%;
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
    background-color: var(--color-contrast);
    border: 1px solid var(--color-primary-dark);
    outline: none;
}

.exercises-button {
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    border: none;
    background-color: var(--color-primary-dark);
    color: var(--color-contrast);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.exercises-button:hover {
    background-color: var(--color-contrast);
    color: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark)
}

.exercises-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}

.exercise-card {
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
    box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
    padding: 20px;
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid transparent; 
    width: 400px;
    /* height: 600px; */
}

.exercise-card:hover {
    border-bottom: 5px solid var(--color-primary-dark);
}

.exercise-card-inner-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    margin: 20px 0;
}

.exercise-image {
    height: 250px;
}

.exercise-detail {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--color-primary-dark);

}

.exercise-detail.primary {
    background-color: var(--color-primary-dark);
    color: var(--color-contrast)
}

.exercise-name {
    padding-left: 6px;
    font-size: 24px;
    font-weight: 600;
    height: 80px;
    width: 100%;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .exercises-container {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 6;
    }
}

@media screen and (max-width: 768px) {
    .exercises-container {
        grid-row-start: 4;
    }
}

@media screen and (max-width: 426px) {
    .exercises-container {
        grid-row-start: 5;
        grid-row-end: 6;
    }
}