.detail-container {
    display: flex;
}

.detail-inner-container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.detail-image {
   width: 500px;
}

.detail-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.detail-element {
    display: flex;
    align-items: center;
    gap: 15px;
}

.detail-icon-container {
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-icon {
    color: var(--color-contrast);
    font-size: 24px;
}