.home-container {
    padding: 0 40px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .home-container {
        grid-template-rows: repeat(5, 1fr); 
    }
}

@media screen and (max-width: 425px) {
    .home-container {
        padding: 0 10px;
    }
}