.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-light);
}

.form {  
    width: 95%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    padding: 30px 10px;

    background-color: var(--color-primary);
    -webkit-box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
    box-shadow: 2px 2px 22px 0px rgba(163, 163, 163, 1);
}

.form-image {
    width: 160px;
    margin-bottom: 30px;
}

.form-welcome {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.form-label {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;

    background-color: var(--color-primary-light);
    border: none;
    outline: none;
}

.form-redirect {
    width: 90%;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-button {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: var(--color-contrast);
    color: #FFF;
    font-weight: 600;
}

.form-error {
    font-size: 12px;
    width: 90%;
    margin: 5px 0;
    color: red;
}