.target-container {
    background-color: var(--color-primary-light);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 10px;
    padding: 20px;
}

.target-success {
    margin-top: 8px;
    font-size: 12px;
    color: green
}

@media screen and (max-width: 1024px) {
    .target-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media screen and (max-width: 768px) {
    .target-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media screen and (max-width: 426px) {
    .target-container {
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}